@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
/* body{
  background-color: #32312f;
} */

.nav-mobile #nav-links {
  display: none;
  background-color: black;
}

.nav-mobile a {
  color: green;
  font-size: 17px;
  padding: 14px 16px;
  display: block;
}

.nav-mobile a.icon {
  display: block;
  position: relative;
  right: 0;
  top: 0;
  padding-bottom: 10px;
}

@media only screen and (max-width: 819px) {
  .hide-mobile {
    display: none;
  }
  .about {
    padding-left: 0px !important;
  }
  .iframe {
    margin-left: 0px !important;
  }
}

@media only screen and (min-width: 820px) {
  .hide-desktop {
    display: none;
  }
}
.nav-container {
  width: auto;
}

nav{
  height: 100vh;
  border-radius: 0px 12px 12px 0px;
  width: 90px;
  background: rgb(0, 0, 0);
  overflow: hidden;
  transition: 1s;
  position: fixed;
}
nav:hover{
  width: 250px;
  transition: 1s;
}
.pic{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 48px;
}

.pic img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.pic span{
  padding-top: 13px;
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a{
  width: 280px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}
 nav .bi{
  font-size: 30px;
  padding-left: 15px;
  color: #ffffff;
} 

.nav-con{
  vertical-align: middle;
  padding-left: 30px;
  margin-left: 10px;
  font-size: 15px;
  color:rgb(226, 226, 226);
}
.links:hover{
  background: rgb(63, 63, 63);
}
.links:hover .active {
  color: green;
  transition: 0.5s;
}

.links:hover i{
  color: #0062ff;
  transition: 0.5s;
}

.about {
    font-size: large;
    padding-left: 150px;
    text-align: center;
}
.quote {
    text-transform: uppercase;
    text-align: center;
}
.about h1 {
    font-size: x-large;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 100px;
}

.content {
    padding-top: 15px;
    padding-left: 10%;
}

.content thead tr {
    background-color: #89cff0;
    font-weight: bold;
}

.content th,
.content td {
    border-left: solid 1px #89cff0;
    border-bottom: solid 1px #89cff0;
    padding: 12px 15px;
    font-family: 'Roboto', sans-serif;
}

.content tbody tr {
    border-bottom: 1px solid #ffffff;
}

.images td img {
    padding-left: 115px;
    width: 150px;
    height: 100px;
}

.Price td {
    text-align: center;
}

.heading {
  text-align: center;
  font-size: 50px;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.contact-form {
  padding-top: 100px;
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

.input-name, .input-email {
  max-width: 300px;
  transition: 1s ease-in-out;
}
.input-name:hover, .input-email:hover {
  max-width: 600px;
}

.input-name:focus, .input-email:focus {
    max-width: 600px;
}

.input-name, .input-message, .input-email, .btn {
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
  background-color: grey;
  }

.input-message {
  height: 126px;
}

.contact-form .btn {
  display: inline;
  background: #89cff0;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 220px;
}

.btn:hover {
  border: 2px solid black;
}

@media (max-width: 1300px) {
  .heading, .content {   
    flex-direction: row;
    
  }
  
}

.start-banner {
  margin-top: 10px;
  width: 25%;
}

iframe {
  margin-left: 235px;
}

.content .main-text {
  z-index: 2;
  margin-bottom: 50px;
}
.content .main-text h1{
  font-size: 100px;
  line-height: 1;
  color:black;
  margin: 0px 0px 45px;
}

.content .main-text h3{
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.content .main-text p{
  max-width: 100%;
  width: 480px;
  color: black;
}

.game-images {
  position: fixed;
  width: 90%;
  text-align: right;
}


footer {
  background-color: #585858;
  padding-left: 24%;
  border-radius: 12px;
  grid-row-start: 2;
  grid-row-end: 3;
}

.icons {
  position: relative;
  display: flex;
  width: 50%;
  margin: 40px auto;
}
.twitter {
  background-color: #585858;
  width: auto;
}
.twitter:hover {
  background-color: #1da1f2;
  transition: .2s;
}
.facebook {
  background-color: #585858;
  width: auto;
}

.facebook:hover {
  background-color: #4460a0;
  transition: .2s;
}
.instagram {
  background-color: #585858;
  width: auto;
  
}
.instagram:hover {
  background-color: #ed4a55;
  transition: .2s;
}
.text {
  color: red;
  font-style: italic;
  text-align: center;
  padding-right: 24%;
}

@media (max-width: 1300px) {

    .content {
      padding-top: 15px;
      padding-left: 15%;
  }
    .game-images {
      position: relative;
      text-align: left;
    }
    .content .main-text {
      z-index: 2;
      margin-bottom: 50px;
    }
    .content .main-text h1{
      font-size: xx-large;
      line-height: 1;
      color:black;
      margin: 0px 0px 45px;
    }
    
    .content .main-text h3{
      font-size: x-small;
      font-weight: 600;
      color: black;
    }
    .content .main-text p{
      max-width: 100%;
      width: 480px;
      color: black;
    }
    iframe {
      margin-left: 0px;
    }
    .input-name, .input-message, .input-email, .btn {
      border-radius: 10px;
      border: 0;
      outline: 0;
      padding: 1em;
      display: initial;
      width: 60%;
      margin-top: 1em;
      resize: none;
      }
    
}

.social {
  margin-left: 100px;
  width: 25%;
}

.footer {
  margin-top: 30vh;
  position: flex;
  left: 0;
  bottom: 0;
  background-color: white;
  text-align: right;
  font-size: 100px;
}

.footer ul {
  display: inline;
}

.footer.bi {
  display: inline;
  color: black;
  text-decoration: none;
}

.footer link{
  text-align: center;
  text-decoration: none;
}

.table-container {
  padding: 0 10%;
  padding-top: 5%;
  /* font-style: normal; */
}

.header {
  font-size: 40px;
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;    
}

.table thead {
  background-color: #89cff0;
}


.table thead tr th {
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.35px;
  color:#ffffff;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
}

.table tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  background-color: #3c3f44;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2e685;    
}

.game-imag {
  width: 150px;
  height: 100px;
}

@media (max-width: 768px) {
  .table thead {
      display: none;
      background-color: #89cff0;
  }

  .table, .table tbody, .table tr, .table td {
      display: block;
  }

  .table tr {
      margin-bottom: 15px;
  }

  .table tbody tr td {
      text-align: left;
      padding-left: 50%;
      position: relative;
  }

  .table td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: 600;
      font-size: 14px;
      text-align: left;
  }
}
