@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Radio Canada', sans-serif;
}
/* body{
  background-color: #32312f;
} */

.nav-mobile #nav-links {
  display: none;
  background-color: black;
}

.nav-mobile a {
  color: white;
  font-size: 17px;
  padding: 14px 16px;
  display: block;
}

.nav-mobile a.icon {
  color: green;
  display: block;
  position: relative;
  right: 0;
  top: 0;
  padding-bottom: 10px;
}

@media only screen and (max-width: 819px) {
  .hide-mobile {
    display: none;
  }
  .about {
    padding-left: 0px !important;
  }
}

@media only screen and (min-width: 820px) {
  .hide-desktop {
    display: none;
  }
}

.nav-container {
  width: auto;
}

nav{
  height: 100vh;
  border-radius: 0px 12px 12px 0px;
  width: 90px;
  background: rgb(0, 0, 0);
  overflow: hidden;
  transition: 1s;
  position: fixed;
}
nav:hover{
  width: 250px;
  transition: 1s;
}
.pic{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 48px;
}

.pic img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.pic span{
  padding-top: 13px;
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a{
  width: 280px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}
 nav .bi{
  font-size: 30px;
  padding-left: 15px;
  color: #ffffff;
} 

.nav-con{
  vertical-align: middle;
  padding-left: 30px;
  margin-left: 10px;
  font-size: 15px;
  color:rgb(226, 226, 226);
}
.links:hover{
  background: rgb(63, 63, 63);
}
.links:hover .active {
  color: green;
  transition: 0.5s;
}
.links:hover i{
  color: #0062ff;
  transition: 0.5s;
}

.heading {
    text-align: center;
    font-size: 50px;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 120px;
    height: 120px;
    background: white;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:hover {
    border: 3px solid black;
}

img {
    width: 116px;
    height: 116px;
    border-radius: 50%;
}

.info-container {
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #89cff0;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;    
}

.pfp {
    width: 250px;
    height: 325px;
    margin-left: 12px;
    line-height: 20px;
    border-radius: 10%;
}

.name {
    text-align: center;
    /* border-bottom: 2px solid transparent; */
    margin-bottom: 15px;
}

.job {
    padding: 0px 20px;
    text-align: center;
    font-weight: lighter;
    color: #4e4e4e;
    font-style: italic;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}

.ainfo {
    height: 240px;
    padding: 0px 20px;
    font-size: 20px;
}

@media (max-width: 1300px) {
  .heading, .image, .img, .info-container, .pfp, .name, .job, .ainfo {   
    flex-direction: column;
    
  }

  .image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    /* border-bottom: 50px solid transparent; */
    padding-bottom: 50px;
  }

  .image {
    flex-basis: 33.33%;
    border-radius: 60px 60px 60px 60px;
    height: auto;
  }

  .ainfo, .job, .name {
    font-size: medium;
  }
  .heading {
    padding-left: 45px;
  }
  .pfp {
    width:125px;
    height: auto;
  }
  .info-container {
    height: 300px;
    width: auto;
    position: relative;
  }
}
